body {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "roboto";
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.menu {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    padding: 20px 200px;
}

.hero {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    flex: 1 1 0;
    gap: 40px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards {
    padding: 0px 300px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    font-family: "roboto";
}

.header-logo-text {
    font-weight: 900;
    font-size: 24px;
    margin-right: auto;
}

.hero-img {
    background-color: rgb(83, 87, 105);
    min-width: 530px;
    flex-basis: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 8px;
    font-weight: 700;
    max-width: 120px;
    padding: 8px 0;
}

button.border {
    border: 2px solid white;
    width: 120px;
    height: 35px;
}

.extra-bold {
    font-weight: 900;
    font-size: 48px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.rectangle {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.gallery-heading {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 40px;
}

.quote {
    background-color: #e5e7eb;
    padding: 75px 300px;
    color: #1F2937;
    font-size: 36px;
}

.author {
    font-weight: 800;
    text-align: right;
}

.sign-up-section {
    padding: 50px 150px;
    margin: 100px 250px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-section .bold {
    font-weight: 700;
    font-size: 28px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px 0;
}